@import "partials/varitable";

// libs
@import "~bootstrap/scss/bootstrap-grid";
@import '~bootstrap/scss/utilities/spacing';


//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

//partials
@import "partials/icons";
@import "partials/custom-elements";

*{
  margin: 0;
  padding: 0;
  //transition: all 0.15s;
}

html{
  font-size: 10px;
  min-width: 320px;

}

body{
  background: $def-bg;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);

  min-width: 320px;
}
a{
  display: inline-block;
  color: $def-color;
  text-decoration: none;
}
img{
  max-width: 100%;
}
#game-radio{
  min-height: 100vh;
}
.full-height{
  height: 100vh;
  margin-top: -115px;
  padding-top: calc(115px + 50px );
  @media all and (max-width: 768px) {
    padding-top: calc(115px + 10px );
    height: calc(100vh + 55px);
  }
}
