<template>
  <div class="play-list-page full-height">
    <div class="container">
      <div class="row">
        <div class="col-md-2 tabs-wrp">
          <div v-for="key of playlistKeys" :key="key" @click="chooseList(key)">
            <span class="icon-list" :class="{ active: key === chosenListSlug }">
              <img :src="iconList(key)" alt="" />
            </span>
          </div>
        </div>
        <div class="col-lg-9 col-md-10">
          <player-list
            :playlist-keys="playlistKeys"
            :chosen-list="chosenList"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PlayerList from '../components/ThePlayerlist';

import { mapGetters } from 'vuex';

export default {
  name: 'PlaylistsPage',
  components: {
    PlayerList
  },
  computed: {
    ...mapGetters({
      playlistKeys: 'playlist/playlistKeys',
      chosenList: 'playlist/chosenList',
      chosenListSlug: 'playlist/chosenListSlug'
    })
  },
  data() {
    return {};
  },
  methods: {
    chooseList(slugList) {
      this.$store.dispatch('playlist/CHOOSE_PLAYLIST', slugList);
    },
    iconList(key) {
      return require(`../assets/img/icons/${key}.svg`);
    }
  },
  mounted() {
    this.$store.dispatch('playlist/GET_PLAYLIST');
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/_varitable.scss';

.play-list-page {
  background-image: url('../assets/img/dota.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .icon-list {
    width: 83px;
    height: 71px;
    border-radius: 16px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4);
    background-color: #202025;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 25px;
    &:hover {
      background-color: #323237;
    }
    &:active {
      background-color: #202025;
      img {
        filter: grayscale(100%) opacity(70%);
      }
    }
    &.active {
      background-color: #202025;
      img {
        filter: grayscale(100%) opacity(50%);
      }
    }
    &.disable {
      opacity: 0.4;
      &:active {
        filter: none;
      }
      &:hover {
        background-color: #202025;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .tabs-wrp {
    display: flex;
    order: 3;
    padding-top: 25px;
    justify-content: space-between;
  }
}
@media all and (max-width: 540px) {
  .tabs-wrp {
    display: flex;
    background: $def-bg;
    border-top: $border;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .play-list-page .icon-list {
    background: transparent;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    &.active,
    &:active,
    &:hover,
    &.active:active,
    &:focus {
      background: transparent;
    }
  }
}
</style>
