<template>
  <div class="podcast-page full-height">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <the-podcast-side-bar />
        </div>
        <div class="col-md-9">
          <the-podcast-control-panel @filter="setDataFilter" />
          <the-podcast-grid
            @opensidbar="openSideBar"
            :data-filter="dataFilter"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ThePodcastSideBar from '../components/ThePodcastSideBar';
import ThePodcastControlPanel from '../components/ThePodcastControlPanel';
import ThePodcastGrid from '../components/ThePodcastGrid';

export default {
  name: 'PodcastPage',
  components: {
    ThePodcastControlPanel,
    ThePodcastSideBar,
    ThePodcastGrid
  },
  data() {
    return {
      dataFilter: {
        category: '',
        sort: '',
        search: ''
      }
    };
  },
  methods: {
    setDataFilter(data) {
      console.log(data);
    },
    openSideBar() {
      console.log('fff');
    }
  },
  mounted() {
    this.$store.dispatch('podcast/GET_PODCAST_CATEGORY');
    this.$store.dispatch('podcast/GET_REPORTS');
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';

.podcast-page {
  //padding-top: 55px;
  @media all and (max-width: 767px) {
    // padding-top: 25px;
  }
}
</style>
