<template>
  <div class="radio-page full-height">
    <div class="container player-box">
      <the-radio />
    </div>
    <div class="footer pt-2 pt-md-5">
      <the-social-links />
    </div>
  </div>
</template>

<script>
import TheRadio from '../components/TheRadio';
import TheSocialLinks from '../components/TheSocialLinks';
export default {
  name: 'RadioPage',
  components: {
    TheSocialLinks,
    TheRadio
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';
.radio-page {
  background-image: url('../assets/img/radio-bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    //padding: 35px 0;
  }
}
.player-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
