<template>
  <div class="container ui">
    <div class="row">
      <div class="col">
        <h1>Icons</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <i class="icon i-eye"></i>
        <i class="icon i-clock"></i>
        <i class="icon i-unlock"></i>
        <i class="icon i-lock"></i>
        <i class="icon i-check"></i>
        <i class="icon i-back"></i>
        <i class="icon i-filter"></i>
        <i class="icon i-search"></i>
        <i class="r-icon r-close"></i>
        <i class="r-icon r-play"></i>
        <i class="r-icon r-pause"></i>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <i class="icon i-prev"></i>
        <i class="icon i-stop"></i>
        <i class="icon i-next"></i>
        <i class="icon i-play"></i>
      </div>
      <div class="col">
        <i class="icon i-volume"></i>
        <i class="icon i-union"></i>
        <i class="icon i-volume-0"></i>
        <i class="icon i-volume-1"></i>
      </div>
      <div class="col">
        <i class="icon i-music"></i>
        <i class="icon i-disc"></i>
        <i class="icon i-share"></i>
      </div>
      <div class="col">
        <i class="icon i-vk"></i>
        <i class="icon i-youtube"></i>
        <i class="icon i-telega"></i>
        <i class="icon i-insta"></i>
        <i class="icon i-facebook"></i>
      </div>
      <div class="col">
        <div class="prise"><span>80</span> ₴</div>
        <div class="prise disable"><span>80</span> ₴</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="l-icon i-overwatch"></i>
        <i class="l-icon i-overwatch disable"></i>

        <br />
        <i class="l-icon i-cs"></i>
        <i class="l-icon i-cs disable"></i>
        <br />
        <i class="l-icon i-pubg"></i>
        <i class="l-icon i-pubg disable"></i>

        <br />
        <i class="l-icon i-dota"></i>
        <i class="l-icon i-dota disable"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UI'
};
</script>

<style scoped lang="scss">
i {
  margin: 10px;
}
</style>
