@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: scale(1.6);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@keyframes fade-out {
  0% {
    background-color: rgba(255, 255, 255, 0.2)
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1)
  }

}

@keyframes expansion {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
@keyframes expansion1 {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}