@import "./amimate";

.prise {
  background: $yellow;
  display: inline-block;
  color: $dark;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  min-width: 60px;
  &:hover {
    background: $yellow-l;
  }
  &:active {
    background: $yellow-m;
  }
  &.disable {
    opacity: 0.2;
    &:hover,
    &:active {
      background: $yellow;
    }
  }
}

.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y{
  right: 1px !important;
  width: 4px !important;
}
.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail{
 background-color: rgba(238, 238, 238, 0.11);
}
.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y{
  width: 4px !important;
}
.ps>.ps__scrollbar-y-rail{
  width: 6px !important;
}
.ps>.ps__scrollbar-y-rail:active>.ps__scrollbar-y,
.ps>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y{
  width: 4px !important;
}
.ps.ps--active-x>.ps__scrollbar-x-rail, .ps.ps--active-y>.ps__scrollbar-y-rail{
  background-color: rgba(255, 255, 255, 0.15) !important;
}


.playing {
  position: relative;
  //right: 5%;
  //top: 50%;
  //margin: -20px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  transition: all .2s ease;
  //display: none
}

.playing>div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  transition: all .2s ease;
  animation: wavy 1s ease infinite forwards;
  transform-origin: 50% 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.33);
  margin-right:  2px;
}

.playing .rect2 {
  -webkit-animation-delay: .25s;
  animation-delay: .25s
}

.playing .rect3 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

.playing .rect4 {
  -webkit-animation-delay: .75s;
  animation-delay: .75s
}

.playing .rect5 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

@-webkit-keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }

  50% {
    -webkit-transform: scaleY(.6);
    transform: scaleY(.6)
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }
}

@keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }

  50% {
    -webkit-transform: scaleY(.6);
    transform: scaleY(.6)
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }
}
.animate-music{
  width: 45%;
  height: 40px;
  outline: 1px solid red;
}
