.global-player {
  height: 70px;
  background: rgba(0, 0, 0, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  z-index: 9995;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .player-wrp {
    display: flex;
    width: 100%;
  }
  .control-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .control-btn {
    padding: 5px;
  }
  .control-long {
    min-width: 250px;
    width: 50%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .time {
      font-size: 1.2rem;
      color: $light-color;
      min-width: 38px;
      text-align: center;
    }
    .progress-bar{
      width: 100%;
      margin: 0 10px;
      @media all and (max-width: 768px){
        margin: 0;
      }
      .vue-slide-bar-component{
        height: 10px;
        padding-top: 5px !important;
        cursor: pointer;
      }
      .vue-slide-bar-tooltip-container{
        display: none !important;
      }
    }
    .vue-slide-bar{
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .info-track{
    display: flex;
    align-items: center;
    width: 240px;
    .img-track{
      width: 40px;
      min-width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center;
      border-radius: 40px;
    }
    .title-block{
      padding: 0 8px;
      font-weight: bold;
      .title{
        font-size: 1.4rem;
        margin-bottom: 5px;
      }
      .author{
        font-size: 1.2rem;
        color: $grey-light;
      }
    }
  }
  .volume-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 15%;
    min-width: 195px;
    .vue-slide-bar-component{
      width: 100%;
    }
    i{
      padding: 5px;
      margin: 5px;
    }
    @media all and (max-width: 991px){
        display: none;
    }
  }
  @media all and (max-width: 991px){
    .control-long{
      position: absolute;
      left: 0;
      right: 0;
      top: -5px;
      margin: 0;
      width: 100%;
      .time{
        display: none;
      }
      .progress-bar{
        padding: 0;
      }
    }
    .player-wrp{
        justify-content: space-between;
     }
    .control-group{
      order: 2;
    }
  }
}
