.global-radio-control{
  height: 70px;
  background: rgba(0, 0, 0, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  z-index: 9995;
  display: flex;
  align-items: center;
  justify-content: center;
  &>div{
    //outline: 1px solid red;
    margin: 0 25px;
  }
  .btn-play{
    width: 39px;
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
    transition: all 0.15s;
    &:hover{
      opacity: 0.8;
    }
    &:active{
      opacity: 0.6;
    }
    &.play{
      background-image: url("../assets/img/icons/play.svg");
    }
    &.pause{
      background-image: url("../assets/img/icons/stop.svg");

    }
  }
  .volume-block{
    min-width: 250px;
  }

}