$path: 'assets/img/icons/';

.icon {
  display: inline-block;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  //background-image: url($path + "eye.svg");
}
.i-eye {
  width: 17px;
  height: 11px;
  mask-image: url($path +'eye.svg');
  background-color: $grey-light;
}
.i-clock {
  width: 12px;
  height: 12px;
  mask-image: url($path +'clock.svg');
  background-color: $grey-light;
}
.i-unlock {
  width: 19px;
  height: 19px;
  mask-image: url($path +'unlock.svg');
  background-color: $grey-light;
}
.i-lock {
  width: 19px;
  height: 19px;
  mask-image: url($path +'lock.svg');
  background-color: $grey-light;
}
.i-check {
  width: 14px;
  height: 12px;
  mask-image: url($path +'check.svg');
  background-color: $grey-light;
}
.i-stop {
  width: 22px;
  height: 22px;
  mask-image: url($path +'stop.svg');
  background-color: $white;
  mask-size: 20px 20px;
  cursor: pointer;
  &:hover {
    mask-size: 22px 22px;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}

.i-play {
  width: 22px;
  height: 22px;
  mask-image: url($path +'play.svg');
  background-color: $white;
  mask-size: 20px 20px;
  cursor: pointer;
  &:hover {
    mask-size: 22px 22px;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}

.i-back {
  width: 26px;
  height: 12px;
  mask-image: url($path +'back.svg');
  background-color: $white;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}
.i-filter {
  width: 20px;
  height: 20px;
  mask-image: url($path +'filter.svg');
  background-color: $white;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}

.i-search {
  width: 20px;
  height: 20px;
  mask-image: url($path +'search.svg');
  background-color: $white;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}

.r-icon{
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;

    background-color: $white;
    mask-position: center;
    mask-size: 15px;
    mask-repeat: no-repeat;
  }
  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }

}
.r-close{
  &:after{
    mask-image: url($path + "close.svg");
  }
}
.r-play{
  &:after{
    mask-image: url($path + "play.svg");
    mask-size: 10px;
    mask-position: calc(50% + 2px);
  }
}
.r-pause{
  &:after{
    mask-image: url($path + "stop.svg");
    mask-size: 13px;
  }
}



.i-prev {
  width: 22px;
  height: 22px;
  mask-image: url($path +'prev.svg');
  background-color: $white;
  mask-size: 12px 16px;
  cursor: pointer;
  &:hover {
    mask-size: 13px 18px;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}
.i-next {
  width: 22px;
  height: 22px;
  mask-image: url($path +'next.svg');
  background-color: $white;
  mask-size: 12px 16px;
  cursor: pointer;
  &:hover {
    mask-size: 13px 18px;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}
.i-volume{
  width: 18px;
  height: 18px;
  mask-image: url($path +'volume-close.svg');
  background-color: $white;
  mask-size: 11px 18px;
  cursor: pointer;
  mask-position: left;
  &:hover {
    mask-size: 17px 18px;
    mask-image: url($path +'volume.svg');
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}

.i-volume-0{
  width: 18px;
  height: 18px;
  mask-image: url($path +'volume-close.svg');
  background-color: $white;
  mask-size: 11px 18px;
  cursor: pointer;
  mask-position: left;
}
.i-volume-1{
  width: 18px;
  height: 18px;
  background-color: $white;
  cursor: pointer;
  mask-position: left;
  mask-size: 17px 18px;
  mask-image: url($path +'volume.svg');
}

.i-union{
  width: 22px;
  height: 22px;
  mask-image: url($path +'union.svg');
  background-color: $white;
  mask-size: contain;
  cursor: pointer;
  mask-position: center;
  &:hover {
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}

.i-music{
  width: 22px;
  height: 22px;
  mask-image: url($path +'music.svg');
  background-color: $white;
  mask-size: contain;
  cursor: pointer;
  mask-position: center;
  &:hover {
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}
.i-disc{
  width: 22px;
  height: 22px;
  mask-image: url($path +'disc.svg');
  background-color: $white;
  mask-size: contain;
  cursor: pointer;
  mask-position: center;
  &:hover {
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}
.i-share{
  width: 22px;
  height: 22px;
  mask-image: url($path +'share.svg');
  background-color: $white;
  mask-size: contain;
  cursor: pointer;
  mask-position: center;
  &:hover {
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}


.i-vk,
.i-youtube,
.i-telega,
.i-insta,
.i-facebook{
  width: 18px;
  height: 18px;
  background-color: $white;
  mask-size: contain;
  cursor: pointer;
  mask-position: center;
  &:hover {
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
  &.disable{
    opacity: 0.2;
  }
}


.i-vk{
  mask-image: url($path +'vk.svg');
  width: 19px;
  height: 11px;
}
.i-youtube{
  mask-image: url($path +'youtube.svg');
  width: 18px;
  height: 12px;
}
.i-telega{
  mask-image: url($path +'telega.svg');
  width: 17px;
  height: 15px;
}
.i-insta{
  mask-image: url($path +'insta.svg');
  width: 15px;
  height: 15px;
}
.i-facebook{
  mask-image: url($path +'facebook.svg');
}


//large icons
.l-icon{
  width: 83px;
  height: 71px;
  border-radius: 16px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4);
  background-color: #202025;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover{
    background-color: #323237;
  }
  &:active{
    background-color: #202025;
    filter: grayscale(100%) opacity(50%);

  }
  &.disable{
    opacity: 0.4;
    &:active{
      filter: none;
    }
    &:hover{
      background-color: #202025;
    }
  }
}

.i-overwatch{
  &:after{
    background-image: url($path + "overwatch.svg");
  }
}

.i-cs{
  &:after{
    background-image: url($path + "cs.svg");
  }
}

.i-pubg{
  &:after{
    background-image: url($path + "pubg.svg");
  }
}

.i-dota{
  &:after{
    background-image: url($path + "dota.svg");
  }
  &:active{
    background-color: #202025;
    filter: grayscale(100%) opacity(100%);

  }
}
