@import "varitable";

.nav-bar{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding-top: 38px;
  padding-bottom: 38px;
  position: relative;
  z-index: 9998;
  @media all and (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
    .logo{
    max-width: 201px;
  }
  ul{
    display: flex;
    li{
      list-style: none;
      padding: 5px;
      a.nav-link{
        padding: 5px 10px;
        &.active{
          color: $light-color;
        }
      }
    }
  }
  .nav-toggler{
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
    .line{
      width: 100%;
      display: block;
      margin: 4px 0;
      height: 2px;
      background: $white;

    }
  }
  @media all and (min-width: 991px){
    .nav-toggler{
      display: none !important;

    }
  }
}
.nav-bar-nav{
  .close-nav{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 38px;
    top: 38px;
    mask-image: url("../assets/img/icons/close.svg");
    background-color: $def-color;
    mask-position: center;
    mask-size: contain;
    z-index: 99999;
    cursor: pointer;
  }
}

@media all and (min-width: 992px){
  .nav-bar-nav{
    display: block !important;
    .close-nav{
      display: none!important;
    }
  }
}
@media all and (max-width: 991px){
  .nav-bar-nav{
    display: flex;
    background: $def-bg;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 9998;
  }
  .nav-bar ul{
    flex-direction: column;
    text-align: center;
  }
}


.slide-fade-enter-active {
  transition: all .255s ease;
}
.slide-fade-leave-active {
  transition: all .255s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter,
.slide-fade-leave-to{
  transform: translateX(10px);
  //opacity: 0;
}
