.podcast-item {
  margin-bottom: 12%;
  position: relative;
  @media all and (max-width: 767px) {
    margin-bottom: 25px;
  }
  .image-block {
    width: 100%;
    padding-top: 45.5%;
    border-radius: $border-radius;
    //background: red;
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    &:hover {
      .pay-control {
        display: block;
        opacity: 1;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .data-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
  .title-block {
    font-weight: bold;
    padding-top: 10px;
    .title {
      font-size: 1.4rem;
      margin-bottom: 6px;
    }
    .author {
      font-size: 1.2rem;
      color: $light-color;
    }
  }
  .pay-control {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    background-color: $light-color;
    background-repeat: no-repeat;
    background-position: calc(50% + 3px) center;
    background-size: 20px;
    cursor: pointer;
    transition: all 0.05s;
    opacity: 0;
    &.play {
      background-image: url('../assets/img/icons/play.svg');
    }
    &:active {
      transform: scale(0.95);
    }
  }

  .control-player {
    width: 100%;
    height: 32.5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    @media all and (max-width: 768px){
      height: 19.5%;
    }
    .progress-wrp {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: rgba(255, 255, 255, 0.1);
      z-index: 9989;
      .progress-line {
        background: $white;
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
      }
    }
    .control-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 5px 10px;
    }
    .play-control {
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &.play {
        background-image: url('../assets/img/icons/play.svg');
      }
      &.pause {
        background-image: url('../assets/img/icons/stop.svg');
      }
    }
  }
}
