.radio-player {

  .button-control {
    display: block;
    width: 277px;
    height: 277px;
    position: relative;
    cursor: pointer;
    max-width: 100%;
    z-index: 5;
    &:before,
    &:after {
      content: '';
      top: 48.5px;
      left: 48.5px;
      width: 180px;
      height: 180px;
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.play {
      background-image: url('../assets/img/icons/play.svg');
      background-repeat: no-repeat;
      background-position: calc(50% + 10px);
      background-size: 50px;
      //animation: expansion .3s ease;
      span {
        display: none
      }
    }
    &.pause {
      background: none;
      animation: expansion .3s ease;
      span {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: #fff;
          border-radius: 5px;
          height: 46px;
          width: 10px;
          top: calc(50% - 23px);
        }
        &:before {
          right: calc(50% - 17px)
        }
        &:after {
          right: calc(50% + 7px)
        }
      }
      &:after,
      &:before {
        animation: fade-out 2s ease-out infinite

      }
      &:after {
        animation: pulse 2s ease-out infinite

      }

    }

  }


  .song-data {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    .author {
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
  .elements-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    i {
      margin-bottom: 15px;
    }
    .elm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      margin: 10px 15px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .radio-player {
    .button-control {
      &:before,
      &:after {
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
      }
      &.play {
        background-position: calc(50% + 5px);
        background-size: 25px;
      }
    }
  }
}
