$white:     #fff;
$yellow:    #ffcc00;
$yellow-l:  #ffe064;
$yellow-m:  #e2b500;
$dark:      #292929;


$grey-light: #969696;
$def-bg: rgba(0, 0, 0, 1);

$def-color: rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 0.4);
$border: 1px solid rgba(255, 255, 255, 0.2);
$border-radius: 8px;




/*change bootstrap default size container*/
$container-max-widths: () !default;
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1440px
  ),
  $container-max-widths
);
