@import '../assets/scss/partials/varitable';

.volume-wrp {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 25px;
  position: relative;
  .i-volume-0,
  .i-volume-1 {
    position: absolute;
    top: -9px;
    bottom: 0;
  }
  .i-volume-0 {
    left: 0;
  }
  .i-volume-1 {
    right: -9px;
  }
}

.vue-slide-bar-component {
  padding-top: 0 !important;
}

.vue-slide-bar-tooltip-container {
  top: 1.5px !important;
}

.vue-slide-bar-tooltip {
  color: transparent !important;
  width: 20px;
  height: 20px;
  display: block;
  background: $white !important;
  border-radius: 50px !important;
  padding: 0!important;
  border: 0!important;
  &:before {
    display: none;
  }
}