<template>
  <div class="play-list-item" @click="playToggle">
    <div
      class="control-item"
      :class="[{ block: ckeckStatus }, iconClass()]"
    ></div>
    <div class="title-track">
      <div class="icon-track">
        <img :src="iconSrc" alt="" />
      </div>
      <div class="name-track">
        {{ track.title }}
      </div>
    </div>

    <div class="animate-music" v-if="play">
      <track-spectrum />
    </div>
    <div class="right-block" v-else>
      <div class="viewed-track">
        <i class="icon i-eye"></i>
        {{ track.views }}
      </div>
      <div class="long-track">
        <i class="icon i-clock"></i>
        {{ track.long | time }}
      </div>

      <div class="data-track">
        <div class="stats-track">
          <div class="prise" v-if="track.price">
            <span>{{ track.price }}</span> ₴
          </div>
          <div v-else-if="!track.lock">
            <i class="icon i-check"></i>
          </div>
          <div v-else-if="track.lock">
            <i class="icon i-lock"></i>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="viewed-track">
      <i class="icon i-eye"></i>
      {{ track.views }}
    </div>
    <div class="long-track">
      <i class="icon i-clock"></i>
      {{ track.long | time }}
    </div>
    <div class="data-track">
      <div class="stats-track">
        <div class="prise" v-if="track.price">
          <span>{{ track.price }}</span> ₴
        </div>
        <div v-else-if="!track.lock">
          <i class="icon i-check"></i>
        </div>
        <div v-else-if="track.lock">
          <i class="icon i-lock"></i>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
import TrackSpectrum from './TrackSpectrum';
import { mapGetters } from 'vuex';

export default {
  name: 'PlayListItem',
  components: {
    TrackSpectrum
  },
  props: {
    track: {
      type: Object,
      required: true
    },
    iconSrc: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      play: false
    };
  },
  computed: {
    ...mapGetters({
      curentTrack: 'player/getCurrentTrack',
      isPlaying: 'player/getStatusPlaying',
      filterPL: 'playlist/getFilterPL'
    }),
    ckeckStatus() {
      return this.track.lock;
    }
  },
  watch: {
    curentTrack: function(val) {
      this.play = val.id === this.track.id && this.isPlaying;
    }
  },
  methods: {
    finedIndex() {
      let self = this;
      return this.filterPL.findIndex(function(element) {
        if (element.id === self.track.id) return 1;
      });
    },
    playToggle() {
      if (!this.track.lock) {
        if (this.curentTrack.id === this.track.id && this.isPlaying) {
          this.$store.dispatch('player/PAUSE_PLAYER');
        } else {
          let dataForPlayer = {
            ...this.track,
            indx: this.finedIndex()
          };
          this.$store.dispatch('playlist/PLAY_TRACK', dataForPlayer);
        }
      }
    },
    iconClass() {
      if (this.curentTrack.id === this.track.id) {
        if (this.isPlaying) {
          return 'play';
        } else {
          return 'pause';
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';

.play-pause {
}

.play-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  .right-block {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
  &:hover {
    cursor: pointer;
    .control-item:not(.block) {
      display: block;
      background-image: url('../assets/img/icons/play.svg');
    }
  }

  @media all and (max-width: 576px) {
    padding-left: 30px;
  }
  .title-track {
    width: 50%;
    display: flex;
    align-items: center;
    .name-track {
      font-weight: 500;
      font-size: 1.8rem;
      @media all and (max-width: 768px) {
        font-size: 1.6rem;
      }
    }
    .icon-track {
      width: 20px;
      height: 20px;
      margin-right: 23px;
    }
    @media all and (max-width: 576px) {
      .icon-track {
        display: none;
      }
    }
  }
  .viewed-track {
    width: 75px;
    text-overflow: ellipsis;
  }
  .data-track {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: $grey-light;
    @media all and (max-width: 768px) {
      font-size: 1.4rem;
    }
    & > div {
      //width: calc(100% / 3);
    }
    & > div:nth-child(2) {
      padding-left: 10%;
    }
    & > div:last-child {
      text-align: center;
    }
  }
  .control-item {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -35px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &.play {
      background-image: url('../assets/img/icons/stop.svg') !important;
    }
    &.pause {
      background-image: url('../assets/img/icons/play.svg') !important;
    }
    @media all and (max-width: 576px) {
      left: 0px;
    }
  }
  .viewed-track,
  .long-track {
    color: $grey-light;
  }
  @media all and (max-width: 576px) {
    flex-wrap: wrap;
    justify-content: end;
    .title-track {
      order: 1;
      width: 85%;
    }
    .data-track {
      order: 2;
      width: 15%;
    }
    .viewed-track,
    .long-track {
      order: 3;
      width: auto;
      font-size: 1.4rem;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}
</style>
