<template>
  <div class="podcast-item">
    <div class="image-block" :style="img()">
      <div class="pay-control play" v-show="!play" @click="playStart"></div>
      <div class="data-block" v-show="!play">
        <div class="views">{{ report.view | dNumbers }}</div>
        <div class="long">{{ report.long | time }}</div>
      </div>

      <div class="control-player" v-show="play">
        <div class="progress-wrp">
          <div class="progress-line" :style="{ width: widthProgress }"></div>
        </div>
        <div class="control-container">
          <div
            v-show="!isPlaying"
            class="play-control play"
            @click="playStart"
          ></div>
          <div
            v-show="isPlaying"
            class="play-control pause"
            @click="playPause"
          ></div>
          <div class="lost-time">{{ curTime | time }}</div>
        </div>
      </div>
    </div>

    <div class="title-block">
      <div class="title" :title="report.name">{{ report.name }}</div>
      <div class="author" :title="report.author">{{ report.author }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'PodcastGridItem',
  props: {
    report: {
      type: Object,
      required: true
    },
    index: {
      type: Number
    }
  },
  data() {
    return {
      play: false,
      playBtn: false,
      curTime: 0
    };
  },
  computed: {
    ...mapGetters({
      curentTrack: 'player/getCurrentTrack',
      isPlaying: 'player/getStatusPlaying',
      stateTrack: 'player/getProgressWidth',
      longTrack: 'player/getTrackDuration'
    }),
    widthProgress() {
      return this.stateTrack + '%';
    }
  },
  watch: {
    curentTrack: function(val) {
      this.play = val.id === this.report.id;
    },
    stateTrack: function(val) {
      this.curTime = (this.longTrack * val) / 100;
    }
  },
  methods: {
    img() {
      const srcUrl = require(`../assets/img/${this.report.img}`);
      const res = { backgroundImage: `url( ${srcUrl} )` };
      return res;
    },
    playStart() {
      this.playBtn = true;
      this.$store.dispatch('podcast/START_PLAY', {
        indx: this.index,
        ...this.report
      });
    },
    playPause() {
      this.playBtn = false;
      this.$store.dispatch('player/PAUSE_PLAYER');
    }
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';
@import '../assets/scss/partials/podcast-grid-item';
</style>
