<template>
  <div class="global-player" v-if="visiblePlayer">
    <div class="player-wrp">
      <div class="control-group">
        <div class="control-btn prev-btn">
          <i class="icon i-prev" @click="prevNextTrack(false)"></i>
        </div>
        <div class="control-btn start-btn">
          <i class="icon i-stop" v-show="isPlaying" @click="playPause"></i>
          <i class="icon i-play" v-show="!isPlaying" @click="startPause"></i>
        </div>
        <div class="control-btn next-btn">
          <i class="icon i-next" @click="prevNextTrack(true)"></i>
        </div>
      </div>
      <div class="control-long">
        <div class="time time-curent">{{ currentTime | time }}</div>
        <div class="progress-bar" @click="callbackRange">
          <vue-slide-bar
            v-model="progressBar"
            :show-tooltip="sliderCustomzie.showTooltip"
            :processStyle="sliderCustomzie.processStyle"
            :lineHeight="sliderCustomzie.lineHeight"
            :tooltipStyles="sliderCustomzie.tooltipStyles"
            :speed="sliderCustomzie.speed"
          />
        </div>
        <div class="time time-duration">{{ timeDurr | time }}</div>
      </div>
      <div class="info-track">
        <div class="img-track" :style="img()"></div>
        <div class="title-block">
          <div class="title">{{ curentTrack.title }}</div>
          <div class="author">{{ curentTrack.author }}</div>
        </div>
      </div>
      <div class="volume-control">
        <i class="icon i-volume-0"></i>
        <vue-slide-bar
          v-model="sliderVolume.simpleValue"
          :process-style="sliderVolume.procesStyle"
          :line-height="2"
        />
        <i class="icon i-volume-1"></i>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlideBar from 'vue-slide-bar';
import { mapGetters } from 'vuex';

export default {
  name: 'TheGlobalPlayer',
  components: {
    VueSlideBar
  },
  computed: {
    ...mapGetters({
      visiblePlayer: 'player/getVisiblePlayer',
      curentTrack: 'player/getCurrentTrack',
      isPlaying: 'player/getStatusPlaying',
      trackDuration: 'player/getTrackDuration',
      stateTrack: 'player/getProgressWidth'
    }),
    currentTime() {
      return this.timeDurr * (this.progressBar / 100);
    }
  },
  data() {
    return {
      sliderCustomzie: {
        showTooltip: false,
        lineHeight: 2,
        processStyle: {
          backgroundColor: '#fff'
        },
        speed: 0
      },
      sliderVolume: {
        simpleValue: 50,
        procesStyle: {
          backgroundColor: '#fff',
          height: '2px'
        },
        tooltipStyle: {
          backgroundColor: '#fff'
        }
      },
      play: false,
      timeCur: 0,
      progressBar: 0,
      timeDurr: 180
    };
  },
  watch: {
    'sliderVolume.simpleValue': function(val) {
      this.$store.dispatch('player/SET_VOLUME_PLAYER', val);
    },
    stateTrack: function(val) {
      this.timeDurr = this.trackDuration;
      this.progressBar = val;
    }
  },
  methods: {
    togglePlay() {
      this.play = !this.play;
    },
    img() {
      const srcUrl = require(`../assets/img/${this.curentTrack.img}`);
      const res = { backgroundImage: `url( ${srcUrl} )` };
      return res;
    },

    playPause() {
      this.play = false;
      this.$store.dispatch('player/PAUSE_PLAYER');
    },
    startPause() {
      this.play = true;
    },
    prevNextTrack(dir) {
      this.$store.dispatch('player/SKIP_TRAK', dir);
    },
    callbackRange(e) {
      console.log(e.offsetX);
      console.log(e.target.scrollWidth);
      let chooseposition = e.offsetX / e.target.scrollWidth;
      console.log('chooseposition', chooseposition);
      this.$store.dispatch('player/SEEK_POSITION_TRACK', chooseposition);
    }
  }
};
</script>

<style lang="scss">
@import '../assets/scss/partials/varitable';
@import '../assets/scss/partials/global-player';
</style>
