<template>
  <div class="global-radio-control" v-if="visibilityRadio && pageName">
    <div class="play-control">
      <div class="btn-play" :class="classToggle" @click="togglePlay"></div>
    </div>
    <div class="volume-block">
      <volume-radio />
    </div>
    <div class="close">
      <i @click="stopRadio" class="r-icon r-close"></i>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import VolumeRadio from '../components/VolumeRadio';

export default {
  name: 'TheGlobalRadio',
  data() {
    return {};
  },
  components: {
    VolumeRadio
  },
  computed: {
    ...mapGetters({
      visibilityRadio: 'radio/getVisibilityGlobalControl',
      radioState: 'radio/getRadioState'
    }),
    classToggle() {
      return this.radioState ? 'pause' : 'play';
    },
    pageName() {
      return this.$route.name !== 'radio';
    }
  },
  methods: {
    togglePlay() {
      this.$store.dispatch('radio/TOGGLE_RADIO', !this.radioState);
    },
    stopRadio() {
      this.$store.dispatch('radio/STOP_RADIO');
    }
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';
@import '../assets/scss/partials/global-radio-control';

div {
}
</style>
