<template>
  <div id="nav" class="container nav-bar">
    <div class="nav-bar-brend">
      <router-link to="/" class="logo" exact>
        <img src="../assets/img/logo.png" alt="" />
      </router-link>
    </div>
    <div class="nav-toggler" @click="toggleNav">
      <span class="line"></span>
      <span class="line"></span>
    </div>

    <transition name="slide-fade">
      <div
        @click="closeNav"
        class="nav-bar-nav"
        v-show="isVisibleNav"
        :class="{ collaple: isVisibleNav }"
      >
        <div class="close-nav" @click="closeNav"></div>
        <ul>
          <li>
            <router-link class="nav-link" :to="{ name: 'radio' }" exact>
              Радио
            </router-link>
          </li>
          <li>
            <router-link class="nav-link" :to="{ name: 'about' }"
              >О Нас</router-link
            >
          </li>
          <li>
            <router-link class="nav-link" :to="{ name: 'portfolio' }">
              Портфолио
            </router-link>
          </li>
          <li>
            <router-link class="nav-link" :to="{ name: 'events' }">
              Мероприятия
            </router-link>
          </li>
          <li>
            <router-link class="nav-link" :to="{ name: 'contact' }">
              Контакты
            </router-link>
          </li>
          <li>
            <router-link class="nav-link" :to="{ name: 'ui' }">
              UI
            </router-link>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'TheNav',
  data() {
    return {
      isVisibleNav: false
    };
  },
  methods: {
    toggleNav() {
      this.isVisibleNav = true;
    },
    closeNav() {
      this.isVisibleNav = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/navbar';
</style>
