<template>
  <div class="play-list">
    <div class="data-pl">
      <div class="title-pl">{{ chosenListSlug }}</div>
      <div class="control-pl">
        <div class="el-control play-pl">
          <i class="r-icon r-play" v-show="!isPlaying" @click="playPause"></i>
          <i class="r-icon r-pause" v-show="isPlaying" @click="startPause"></i>
        </div>
        <div class="el-control share-pl">
          <i class="icon i-share"></i>
        </div>
      </div>
    </div>
    <vue-perfect-scrollbar class="scroll-area" :settings="settingsScroll">
      <play-list-item
        v-for="(item, index) of chosenList"
        :icon-src="iconTrack"
        :track="item"
        :key="item.id"
      />
    </vue-perfect-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuePerfectScrollbar from 'vue-perfect-scrollbar';

import PlayListItem from './PlayListItem';

export default {
  name: 'PlayerList',
  components: {
    PlayListItem,
    VuePerfectScrollbar
  },
  props: {
    playlistKeys: {
      type: Array
    },
    chosenList: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      settingsScroll: {
        suppressScrollX: true
      }
    };
  },
  computed: {
    ...mapGetters({
      chosenListSlug: 'playlist/chosenListSlug',
      isPlaying: 'player/getStatusPlaying',
      playList: 'player/getPlayList',
      filterPL: 'playlist/getFilterPL'
    }),
    iconTrack() {
      return require(`../assets/img/icons/${this.chosenListSlug}.svg`);
    }
  },
  methods: {
    playPause() {
      console.log('this.playList', this.playList);
      if (!this.playList.length) {
        let track = { ...this.filterPL[0], indx: 0 };
        this.$store.dispatch('playlist/PLAY_TRACK', track);
      } else {
        this.$store.dispatch('player/CONTINUE_PLAY');
      }
    },
    startPause() {
      this.$store.dispatch('player/PAUSE_PLAYER');
    }
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';

.scroll-area {
  height: 360px;
  margin-right: -15px;
  padding-right: 15px;
  margin-left: -34px;
  padding-left: 34px;
  @media all and (max-width: 991px) {
    padding-left: 45px;
  }
  @media all and (max-width: 576px) {
    padding-left: 45px;
  }
  @media all and (max-width: 540px) {
    height: calc(100vh - 207px);
  }
}

.data-pl {
  display: flex;
  margin-bottom: 10px;
  @media all and (max-width: 768px) {
    justify-content: space-between;
  }
  .title-pl {
    font-size: 4.2rem;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    @media all and (max-width: 768px) {
      font-size: 2.9rem;
    }
  }
  .control-pl {
    display: flex;
    align-items: center;
    justify-content: center;
    .el-control {
      margin: 0 10px;
    }
    .r-play,
    .r-pause {
      width: 40px;
      height: 40px;
    }
    .i-share {
      width: 20px;
      height: 20px;
    }
  }
}
</style>
