<template>
  <div class="podcast-grid">
    <vue-perfect-scrollbar class="scroll-area">
      <transition-group name="fade" mode="out-in">
        <div
          class="row"
          v-for="item of podcastList"
          :key="item[0].id"
          v-show="item[0].type === getChoosenType"
        >
          <div
            class="col-md-6 col-lg-4"
            v-for="(report, index) of item"
            :key="index"
          >
            <podcast-grid-item :report="report" :index="index" />
          </div>
        </div>
      </transition-group>
    </vue-perfect-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VuePerfectScrollbar from 'vue-perfect-scrollbar';
import PodcastGridItem from './PodcastGridItem';

export default {
  name: 'ThePodcastGrid',
  components: {
    PodcastGridItem,
    VuePerfectScrollbar
  },
  computed: {
    ...mapGetters({
      podcastList: 'podcast/podcastListSeparCategory',
      getChoosenType: 'podcast/getChoosenType'
    })
  },
  data() {
    return {
      dataList: []
    };
  },
  methods: {},
  mounted() {}
};
</script>

<style scoped lang="scss">
.scroll-area {
  height: calc(100vh - 300px);
  margin-right: -15px;
  padding-right: 15px;
  @media all and (max-width: 767px) {
    height: calc(100vh - 250px);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.22s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.global-payer-container {
  position: absolute;
  bottom: 0;
}
</style>
