<template>
  <div class="podcast-control-panel">
    <div class="panel-items">
      <div class="tabs-wrp">
        <div
          v-for="itm of typeReports"
          class="tab-item"
          @click="getList(itm)"
          :key="itm.id"
        >
          {{ itm.tr }}
        </div>
      </div>
      <div class="btns-group">
        <div class="left">
          <div class="butter" @click="openSideBar"></div>
        </div>
        <div class="right">
          <div class="sort-wrp" v-click-outside="hideFilter">
            <i class="icon i-filter" @click="toggleFilterTooltip"></i>
            <transition name="fade" mode="out-in">
              <div class="sort-tooltip" v-if="showFilter" @click="hideFilter">
                <div class="filter-item">Сначала популярные</div>
                <div class="filter-item">Сначала новые</div>
              </div>
            </transition>
          </div>
          <div class="search" @click="toggleFilterSearch">
            <i class="icon i-search"></i>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <div class="search-panel" v-if="showSearch" v-click-outside="hideSearch">
        <i class="icon i-search" @click="searchFilter"></i>
        <input
          type="text"
          ref="search"
          class="search"
          @keyup.enter="searchFilter"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ClickOutside from 'vue-click-outside';
import Bus from '../services/bus';

export default {
  name: 'ThePodcastControlPanel',
  data() {
    return {
      showFilter: false,
      showSearch: false
    };
  },
  computed: {
    ...mapGetters({
      typeReports: 'podcast/getReportsType'
    })
  },
  methods: {
    toggleFilterTooltip() {
      this.showFilter = !this.showFilter;
    },
    hideFilter() {
      this.showFilter = false;
    },
    toggleFilterSearch() {
      this.showSearch = !this.showSearch;
    },
    hideSearch() {
      this.showSearch = false;
    },
    searchFilter() {
      let searchInput = this.$refs.search.value;
      this.$emit('filter', { search: searchInput });
      //console.log(searchInput)
    },
    openSideBar() {
      Bus.$emit('opensidbar', true);
    },
    getList(itm) {
      this.$store.dispatch('podcast/CHOOSE_TYPE', itm.id);
    }
  },
  directives: {
    ClickOutside
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';

.podcast-control-panel {
  margin-bottom: 15px;
  padding-bottom: 32px;
  position: relative;
  .panel-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 767px) {
      display: block;
      font-size: 1.5rem;
    }
  }
  .right {
    display: flex;
  }
  .tabs-wrp {
    display: flex;
    font-weight: 600;
    @media all and (max-width: 767px) {
      justify-content: space-between;
      margin-bottom: 15px;
    }
    .tab-item {
      margin-right: 15px;
      cursor: pointer;
    }
  }
  .btns-group {
    display: flex;
    i {
      margin-left: 25px;
    }
    @media all and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}

.sort-wrp {
  position: relative;
  z-index: 9990;
  .sort-tooltip {
    border-radius: 16px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4);
    background-color: #151515;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 1.4rem;
    position: absolute;
    right: -15px;
    top: 100%;
    width: max-content;
    .filter-item {
      margin: 8px 0;
    }
  }
}

.search-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $white;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .i-search {
    margin-right: 5px;
  }
  input.search {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    color: $white;
    &:focus,
    &:active {
      outline: none;
    }
  }
}
.butter {
  width: 18px;
  height: 10px;
  display: none;
  cursor: pointer;
  @media all and (max-width: 767px) {
    display: block;
  }
  &:after,
  &:before {
    content: '';
    display: block;
    height: 2px;
    background: $white;
  }
  &:before {
    margin-bottom: 6px;
  }
}
</style>
