<template>
  <div class="podcast-side-bar" :class="{ show: openSide }">
    <div class="close-side" @click="closeSidebar">x</div>
    <div>
      <div class="cat-list" v-for="cat of podcastCat" :key="cat.id">
        <div class="cat-item">
          <span class="cat-name">{{ cat.name }}</span>
          <span class="cat-count">{{ cat.count }}</span>
        </div>
        <div class="sub-cat light-color" v-if="cat.subCategories">
          <div class="cat-list" v-for="sub of cat.subCategories" :key="sub.id">
            <div class="cat-item">
              <span class="cat-name">{{ sub.name }}</span>
              <span class="cat-count">{{ sub.count }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Bus from '../services/bus';

export default {
  name: 'ThePodcastSideBar',
  computed: {
    ...mapGetters({
      podcastCat: 'podcast/getPodcastCategory'
    })
  },
  data() {
    return {
      openSide: false
    };
  },
  methods: {
    closeSidebar() {
      this.openSide = false;
    }
  },
  mounted() {
    Bus.$on('opensidbar', prop => {
      this.openSide = prop;
    });
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';

.podcast-side-bar {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8;
  .close-side {
    display: none;
  }
  @media all and (max-width: 767px) {
    display: none;
    &.show {
      display: flex;
      position: fixed;
      z-index: 9998;
      background: $def-bg;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .close-side {
      display: block;
      width: 22px;
      height: 22px;
      position: absolute;
      right: 38px;
      top: 38px;
      mask-image: url(../assets/img/icons/close.svg);
      background-color: white;
      mask-position: center;
      mask-size: contain;
      z-index: 99999;
      cursor: pointer;
    }
  }
  .cat-item {
    margin-bottom: 10px;
    cursor: pointer;
    &.active {
      color: $light-color;
    }
  }
  .sub-cat {
    margin-left: 20px;
  }
  .cat-name {
    margin-right: 8px;
  }
}
</style>
