<template>
  <div class="radio-player">
    <div class="button-control" :class="classToggle" @click="togglePlay">
      <span class="pause-inner"></span>
    </div>
    <div class="">
      <volume-radio />
    </div>
    <!---->
    <div class="song-data">
      <div class="title">Shape of You</div>
      <div class="author">Ed Sheeran</div>
    </div>
    <div class="elements-wrp">
      <router-link :to="{ name: 'playlists' }" class="elm playlist">
        <i data-v-6cf1afa4="" class="icon i-music"></i>
        <span class="d-none d-lg-inline">Плейлисты</span>
      </router-link>
      <router-link :to="{ name: 'podcast' }" class="elm podcast">
        <i data-v-6cf1afa4="" class="icon i-disc"></i>
        <span class="d-none d-lg-inline">Записи</span>
      </router-link>
      <div class="elm shared">
        <i data-v-6cf1afa4="" class="icon i-share"></i>
        <span class="d-none d-lg-inline">Поделиться</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VolumeRadio from '../components/VolumeRadio';

export default {
  name: 'TheRadio',
  components: {
    VolumeRadio
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      radioState: 'radio/getRadioState'
    }),
    classToggle() {
      return this.radioState ? 'pause' : 'play';
    }
  },
  methods: {
    togglePlay() {
      this.$store.dispatch('radio/TOGGLE_RADIO', !this.radioState);
    },

    radioInit() {}
  },
  mounted() {}
};
</script>

<style lang="scss">
@import '../assets/scss/partials/varitable';
@import '../assets/scss/partials/radio';
.radio-player {
}
</style>
