<template>
  <div class="container social-links">
    <div class="row">
      <div class="col-md-3 d-none d-lg-block"></div>
      <div class="col-md block-links ">
        <div class="desc d-none d-lg-flex">
          Мы в соцсетях
        </div>
        <a href="https://vk.com/" target="_blank" class="social-link">
          <i class="icon i-vk"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" class="social-link">
          <i class="icon i-youtube"></i>
        </a>
        <a href="#" target="_blank" class="social-link">
          <i class="icon i-telega"></i>
        </a>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="social-link"
        >
          <i class="icon i-insta"></i>
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="social-link">
          <i class="icon i-facebook"></i>
        </a>
      </div>
      <div class="col-md-3 copy d-none d-lg-flex">
        ©2019 We Are Gaming
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheSocialLinks',
  data() {
    return {};
  }
};
</script>

<style scoped lang="scss">
@import '../assets/scss/partials/varitable';

.social-links {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  .block-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin: 0 10px;
  }
  .social-link {
    padding: 15px 10px;
    margin: 0 10px;
    i:hover {
      opacity: 1;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .desc {
    font-size: 1.4rem;
  }
  .copy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    color: $light-color;
  }
}
</style>
