<template>
  <div class="spectrum">
    <canvas id="canvas" ref="canvas"></canvas>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'TrackSpectrum',
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      isPlaying: 'player/getStatusPlaying',
      getPlayList: 'player/getPlayList'
    })
  },
  watch: {
    isPlaying: function(val) {
      console.log('isPlaying', val);
    },
    getPlayList: function(val) {
      console.log('getPlayList', val);
    }
  }
};
</script>

<style scoped lang="scss">
#canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.spectrum {
  display: flex;
  align-items: flex-end;
  background: #000;
  width: 355px;
  height: 250px;
  border: 4px solid #000;
  margin: 50px 0 0 0;

  & div {
    --y: 0;
    height: var(--y);
  }

  &[data-theme='classic'] div {
    background: linear-gradient(red, yellow, green);
    width: 15px;
    margin: 0 1px;
    transition: height 0.05s ease-in;
  }

  &[data-theme='blue'] div {
    background: linear-gradient(blue, darkblue);
    width: 1px;
    margin: 0 5px;
    transition: height 0.05s ease-in;
  }

  &[data-theme='wave'] {
    align-items: center;

    & div {
      background: linear-gradient(darkred, red, darkred);
      width: 10px;
      margin: 0 1px;
      transition: height 0.025s ease-in-out;
    }
  }

  &[data-theme='green'] {
    background: linear-gradient(#111, #000);

    & div {
      background: linear-gradient(lightgreen, green, darkgreen);
      width: 12px;
      margin: 0;
      box-shadow: 0 0 5px darkgreen inset;
      transition: height 0.05s ease-in-out;
    }
  }

  &[data-theme='free'] div {
    background: linear-gradient(green, blue, purple);
    width: 15px;
    border-left: 1px solid black;
    border-radius: 50px 50px 0 0;
    margin: 0 0;
    transition: height 0.05s ease-in;
  }
}
</style>
