<template>
  <div class="volume-wrp d-none d-sm-block">
    <i class="icon i-volume-0"></i>
    <vue-slide-bar
      v-model="slider.simpleValue"
      :process-style="slider.procesStyle"
      :line-height="2"
      @callbackRange="callbackRange"
    />
    <i class="icon i-volume-1"></i>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VueSlideBar from 'vue-slide-bar';

export default {
  name: 'VolumeRadio',
  components: {
    VueSlideBar
  },
  data() {
    return {
      slider: {
        simpleValue: 50,
        procesStyle: {
          backgroundColor: '#fff',
          height: '2px'
        },
        tooltipStyle: {
          backgroundColor: '#fff'
        }
      }
    };
  },
  computed: {
    ...mapGetters({
      radioVolume: 'radio/getRadioVolume'
    })
  },
  watch: {
    'slider.simpleValue': function(val) {
      this.$store.dispatch('radio/SET_VOLUME_RADIO', val);
    },
    radioVolume: function(val) {
      this.slider.simpleValue = val;
    }
  },
  methods: {
    callbackRange(val) {
      this.rangeValue = val;
    }
  },
  mounted() {
    this.slider.simpleValue = this.radioVolume;
  }
};
</script>

<style lang="scss">
@import '../assets/scss/partials/volume-radio';
</style>
