<template>
  <div id="game-radio">
    <the-nav />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
    <div class="global-payer-container">
      <the-global-radio />
      <the-global-player />
    </div>
  </div>
</template>

<script>
import TheNav from './components/TheNav';
import TheGlobalRadio from './components/TheGlobalRadio';
import TheGlobalPlayer from './components/TheGlobalPlayer';
export default {
  name: 'App',
  components: {
    TheNav,
    TheGlobalRadio,
    TheGlobalPlayer
  }
};
</script>

<style lang="scss">
@import './assets/scss/main';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.global-payer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  @media all and (max-width: 768px) {
    //position: sticky;
  }
}
</style>
